<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../components/head'); %>
  </head>
  <body class="body-login-register">

    <%- include('../../components/loginPanel'); %>

    <footer>
      <%- include('../../components/footer'); %>
    </footer>

  </body>
</html>