<div class="footer-finish-bar"></div>
	<!-- footer section start -->
  <footer id="footer">
    <div class="container-footer">
      <div class="row">
        <div class="col-md-3">
          <a href="/"><img src="/img/logo.png" alt="" class="img-fluid logo-footer"></a>
          <div class="footer-about">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
          </div>

        </div>
        <div class="col-md-3">
          <div class="useful-link">
            <h2>Useful Links</h2>
            <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
            <div class="use-links">
              <li><a href=""><i class="fa-solid fa-angles-right" style="color: #b9b4b4;"></i> Home</a></li>
              <li><a href="about"><i class="fa-solid fa-angles-right" style="color: #b9b4b4;"></i> About Us</a></li>
              <li><a href="gallery"><i class="fa-solid fa-angles-right" style="color: #b9b4b4;"></i> Gallery</a></li>
              <li><a href="contact"><i class="fa-solid fa-angles-right" style="color: #b9b4b4;"></i> Contact</a></li>
            </div>
          </div>

        </div>
                  <div class="col-md-3">
                      <div class="social-links">
            <h2>Follow Us</h2>
            <img src="./assets/images/about/home_line.png" alt="">
            <div class="social-icons">
              <li><a href=""><i class="fa-brands fa-facebook-f" style="color: #b9b4b4;"></i> Facebook</a></li>
              <li><a href=""><i class="fa-brands fa-instagram" style="color: #b9b4b4;"></i> Instagram</a></li>
              <li><a href=""><i class="fa-brands fa-linkedin-in" style="color: #b9b4b4;"></i> Linkedin</a></li>
            </div>
          </div>
                  

                  </div>
        <div class="col-md-3">
          <div class="address">
            <h2>Address</h2>
            <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
            <div class="address-links">
              <li class="address1"><i class="fa-solid fa-location-dot" style="color: #b9b4b4;"></i>   Via Jacopo della Quercia, 1, 40128 Bologna</li>
                 <li><a href=""><i class="fa-solid fa-phone" style="color: #b9b4b4;"></i> +39 051 415 1711</a></li>
                 <li><a href=""><i class="fa-solid fa-envelope" style="color: #b9b4b4;"></i> agescibologna7@gmail.com</a></li>
            </div>
          </div>
        </div>
                
      </div>
    </div>

  </footer>
  <!-- footer section end -->
  <!-- footer copy right section start -->
  <section id="copy-right">
    <div class="copy-right-sec"><i class="fa-regular fa-copyright"></i> 1922-2025 Agesci Bologna 7</div>

    <div class="copy-right-sec-right">Developed by <a href="https://github.com/xFedeT">Federico</a></div>

  </section>
  <!-- footer copy right section end -->